form {
	text-align: center;
}
label {
	display: inline-block;
	width: 100px;
	font-size: 24px;
	line-height: 2em;
}
input {
	width: 200px;
	height: 25px;
	border-radius: 5px;
	outline: none;
	border: 1px solid #333;
}
.submit {
	width: 100px;
	height: 50px;
	margin-left: 100px;
	font-size: 24px;
	color: #fff;
	background: #2f79ba;
	border: none;
	border-radius: 5px;
}
.focus {
	outline: none;
	border: 1px solid #63afed;
}